#H1{
    text-align: center;
    font-size:70px ;
    font-style: italic;
    color:black;
  
}
 body{
     text-shadow: 2px 2px 40px;
     color: beige;
 }

 #H2{
     padding: 0;
     text-shadow: 3px 3px 0 #000000;
     font-style: italic;
     font-size: 45px;
     color: blanchedalmond;
    
 }

 li.a{
     font-style: italic;
     font-weight: bold;
     text-shadow: rgb(250, 211, 152);
     text-decoration-style: wavy;
 }

 h3{
     
     font-style: italic;
     font-size: 35px;
    
 }
 p{

     font-size: 14px;
 }



 footer{
     text-align: center;
     font-size: 40px;
     color:wheat; 
     font-style: italic;
 }
 
 .a{
     font-size: 20px;
     color: rgb(136, 202, 193);
 }
 
 h1{
     
     display: inline block; 
     top: 0;
     
     position: sticky ;
     display: inline block; 
     text-shadow: 3px 3px 0 #d8d0d0;
     background: rgba(20, 24, 23, 0.1); 
     transition: 3s;
     
     
 }
h1:hover{
    /* cursor: pointer;
    letter-spacing: 5ps;
    font-weight: 500; */
    margin-left: 10px;
    color: #ffffff;
    text-shadow: 0 0 10px black,
                 0 0 20px rgb(67, 187, 161),
                 0 0 40px #10cebe,
                 0 0 80px #28a8a8,
                 0 0 160px #085664;
}
h1{
    transition: 0.5s;
     margin-right: 40px;

}
.ppp:hover{
    
    margin-block-start: 5px;
    color: #ffffff;
    text-shadow: 0 0 10px black,
                 0 0 20px rgb(67, 187, 161),
                 0 0 40px #000000,
                 0 0 80px #010a0a,
                 0 0 160px #000000;
}
 